@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap');

/*  keyframes */
@keyframes modalopen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  
body{
    -webkit-animation: modalopen 1.5s;
    -moz-animation: modalopen 1.5s;
    -ms-animation: modalopen 1.5s;
    -o-animation: modalopen 1.5s;
    animation: modalopen 1.5s;
}
html{
    scroll-behavior: smooth;
}

:root{
    --primary-col: #51F6D9;
    --secondary-col: rgb(69, 221, 193);
    --font-main: #343434;
}
p{
    font-weight: 400;
    color: var(--font-main);
}

h1{
    font-weight: 500;
}

h3{
    font-weight: 400;
}

h4{
    font-weight: 300;
    font-size: 18px;
}

body{
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
.logo{
    width: 256px;
    height: auto;
    display: block;
  margin-left: auto;
  margin-right: auto;
    
}
.logo-menu{
    margin-bottom: 2rem;
}


.menu{
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: rgb(195, 195, 195);
    margin: 0rem 34rem;
    padding-bottom: 1rem;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.menu a{
    text-decoration: none;
}
.menu li{
    text-decoration: none;
    list-style: none;
    margin-right: 1rem;
    color: var(--font-main);
    transition: 0.2s ease-in-out;
    cursor: pointer;
    
}

.menu li:hover{
    color: var(--secondary-col);
}


.btn-primary{
    color: white;
    background: var(--secondary-col);
    border-radius: 25px;
    border-color: transparent;
    border-width: 1px;
    border-style: solid;
    font-size: 18px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;

}

.btn-secondary{
    color:var(--secondary-col);
    background: white;
    border-radius: 25px;
    border-color: var(--secondary-col);
    border-width: 1px;
    border-style: solid;
    font-size: 18px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn-primary:hover{
    color: var(--secondary-col);
    background-color: white;
    border-color: var(--secondary-col);
}

.btn-secondary:hover{
    color: white;
    background-color: var(--secondary-col);

}

.landing-about{
    display: flex;
    margin-left: 10rem;
    margin-right: 3rem;
}

.about-text{
    width: 33%;
    margin-right: 20rem;
    margin-top: 5rem;
}

.content{
    margin-right: auto;
    margin-left: auto;
    
}

.wave-image{
    position: absolute;
    width: 100%;
    z-index: -1;
}

.profile-image{
    position: relative;
    width: 40%;
    height: 100%;
    
}

.treatment-approach{
    margin-bottom: 10rem;
    
   
}

.treatment-content-wt-img{
    display: flex; 
    padding-top: 25rem;
}
.treatment-content{
    padding-top: 5rem;
    width: 35%;
}



.girl-img{
    width: 50%;
    height: 100%;
    margin-right: 7.5rem;
    border-radius: 25px;
}


.laptop-img{
    width: 60%;
    height: 100%;
    border-radius: 25px;
    float: right;

}

ul li::marker{
    color: var(--primary-col)
}

.modailites-grid{
    display: grid;
    grid-template-columns: 25rem 25rem 25rem;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 15rem;
}

.wte-wave{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    position: absolute; 
    width: 100%;
    z-index: -3;
}

.wte-wave-03{
    position: absolute;
    width: 100%;
    z-index: -3;
}

.waves{
    position: absolute; 
    width:100%; 
    z-index: -2;
}

.modalitie-icon{
    cursor: pointer;
    transition: 0.3s ease-in-out;
    width: 150px;
}

.modalitie-icon:hover{
    transform: translateY(-10px);
    filter: drop-shadow(19px 20px 25px rgba(0,0,0,0.05));
}

.price-box{
    border: 1px solid var(--primary-col);
    background: white;
    border-radius: 25px;
    padding: 0.5rem 2rem;
    box-shadow: 19px 20px 25px rgba(0,0,0,0.05);
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 10rem;

}

#expect{
    margin-bottom: 20rem;
}

.td-title{
    font-weight: 300;
}

table{
    background: white;
    border-radius: 25px;
    padding: 3rem;
    box-shadow: 19px 20px 25px rgba(0,0,0,0.05);
    width: 600px;
    float: right;
}

.td-time{
    font-weight: 400;
}

.booking{
    margin-bottom: 20rem;
}

#contact{
    text-align: center;
    width: 30%;
    margin: 0 auto;
}

.specialites{
    padding-top: 5rem;
}

.fade-in{
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.fade-in .appear{
    opacity: 1;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    display: none;
    background-color: rgba(255,255,255,0.6);
    width: 100vw;
    height: 100vh;
    z-index: 10;
    transition: 0.3s ease-in-out;
    
}

.modal-dialog{
    background-color: white;
    width: 500px;
    position: absolute;
    margin: 10% 35%;
    box-shadow: 19px 20px 25px rgba(0,0,0,0.05);
    border-radius: 25px;
    padding: 3rem;
    
}

.close-ico{
    position: absolute;
    right: 2rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.close-ico:hover{
    filter: invert(0.5);
}

.contact-link{
    color: black;
    transition: 0.3s ease-in-out;
}

.contact-link:hover{
    color: rgb(195, 195, 195);
}

.modalitiy-title{
    margin-left: 10rem;
}

.specialites-grid{
    display: flex; 
    justify-content: center; 
    margin-bottom: 5rem;
}

.specialites-subheading{
    display: flex; 
    justify-content: center; 
    margin-bottom: 1rem;
}

.expect-content{
    display: flex; 
    padding-top: 20rem;
}

.expect-text{
    width: 35%; 
    padding-left: 10rem; 
    margin-right: 10rem;
    padding-top: 5rem;
}

.qual{
    display: flex; 
    justify-content: center; 
    margin-bottom: 20rem;
}

.pricing-area{
    display: flex; 
    justify-content: center;
}

.booking-content{
    display: flex; 
    padding-top: 25rem;
}

.booking-text{
    width: 35%; padding-left: 10rem; margin-right: 15rem;
}

.phone-email{
    display: flex; 
    justify-content: center;
    text-align: center;
}

 /* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {  
    
}

 /* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
    .hamburger{
        display: inline;
    }

    .menu{
        display: none;
    }

    .landing-about{
        margin: 0 2rem;
        text-align: center;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        
    }
    
    .about-text{
        margin: 0;
        width: 100%;
    }
    
    .profile-image{
        width: 100%;
    
    }
    
    .btn-primary{
        margin-bottom: 1.5rem;
       
    }
    
    .btn-primary, .btn-secondary{
        font-size: 24px;
    }

    .treatment-content-wt-img{
        padding-top: 10rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 2rem;
    }

    .treatment-content{
        width: 100%;
        text-align: center;
    }

    .girl-img{
        width: 75%;
        margin-right: 0;
    }

    .modalitiy-title{
        margin-left: 2rem;
    }

    .modailites-grid{
        grid-template-columns: 25rem;
    }

    .specialites-grid{
        display: inline;
    }

    .specialites{
        margin: 0 2rem;
    }

    .specialites-subheading{
        font-size: 14px;
    }

    .specialites-grid ul{
        padding: 1rem;
    }

    .expect-content{
        padding-top: 10rem;
        flex-direction: column-reverse;
        margin: 0 2rem;
        justify-content: center;
        align-items: center;
    }

    .expect-text{
        padding: 0;
        width: 100%;
        margin-right: 0;
    }

    .laptop-img{
        width: 75%;
    }

    .qual{
        flex-direction: column;
        margin: 0 2rem;
        margin-bottom: 5rem;
    }

    .qual ul{
        padding-left: 1rem;
    }

    .pricing-area{
        flex-direction: column;
    }

    .price-box{
        margin-bottom: 3rem;
    }

    .booking-content{
        flex-direction: column;
        padding-top: 5rem;
    }

    .booking-text{
        padding:0;
        padding: 0 2rem;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    table{
        width: 100%;
    }

    #contact{
        margin: 0;
        width: 100%;
        padding: 0 1rem;
        
    }

    .modal-dialog{
        width: 250px;
        margin: 0 auto;
    }

    .phone-email{
        flex-direction: column;   
     }

     .contact-link{
         margin-bottom: 2rem;
     }
    

}

 /* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {  
    
}

/* / X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {  

}

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {  
    
}