@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');

:root{
    --primary-col: #51F6D9;
    --font-main: #343434;
    
}

body{
    font-family: 'Work Sans';
}
.logo{
    width: 192px;
    height: auto;
}

ul{
    display: flex;
    

}
ul li{
    text-decoration: none;
    list-style: none;
    margin-right: 1rem;
    color: var(--font-main);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

ul li:hover{
    color: rgb(195, 195, 195);
}


.btn-primary{
    color: white;
    background: var(--primary-col);
    border-radius: 25px;
    border-color: transparent;
    border-width: 1px;
    border-style: solid;
    font-size: 18px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;

}

.btn-secondary{
    color:var(--primary-col);
    background: white;
    border-radius: 25px;
    border-color: var(--primary-col);
    border-width: 1px;
    border-style: solid;
    font-size: 18px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn-primary:hover{
    color: var(--primary-col);
    background-color: white;
    border-color: var(--primary-col);
}

.btn-secondary:hover{
    color: white;
    background-color: var(--primary-col);

}

.landing-about{
    display: flex;
}

.about-text{
    width: 50%;
}